/* FONT FACE */

@font-face {
	font-family: 'akz';
	src: url('../fonts/Akzidenzte-60.ttf');
}



html,
body {
	line-height: 1.2em;
	font-weight: normal;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-family: 'akz';
}

h1, h2, h3{
	font-weight: normal;
	font-family: 'akz';
	margin:0;
	line-height:1em;
}

header h1 {
	font-size: 3.5rem;
	text-align: center;
}

ul, li{
	list-style: none;
	padding: 0;
}

a{
	color: blue;
	text-decoration: none;
}

a.active{
	text-decoration:underline;
}
section.intro{
	font-size: 3.5vw;
	line-height: 1.2em;
	position:absolute;
	top:0;
	left:0;
	width:80%;
	background:white;
	cursor:pointer;
	padding:2rem;
}
section.intro p{
	margin:0;
	font-family: akz;
}
header ul.keywords li{
	display: inline-block;
	margin: 0 10px;
	letter-spacing: 1px;
	font-size: 2vw;
	font-family: akz;
	line-height: 2vw;
}

section.stage{
	/* display: none; */
	background: black;
	text-align: center;
	position: relative;

	overflow-x: hidden;
	position:relative;
	height:0;
	background:black;
	transition: all 0.4s ease-in-out;
}
section.stage.active{

}
section.stage .bg{
	content:'';
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	cursor:pointer;
}
section.category{
	float: left;
	width: 33%;
	box-sizing: border-box;

	padding: 16px;
	border-right:2px solid black;
}
section.category:last-child{
	border:none;
}
section.category h3{
	background: white;
	font-family: akz;
	text-align: center;
	font-size: 30px;
	font-weight: normal;
	letter-spacing: 1px;


}

section.category li{
	display: none;
	font-family: akz;
	font-size: 18px;
}

section.category li.active{
	display: block;
}

footer {

	width: 100%;

	height: auto;
	background: white;
}

main:after{
	content: '';
	display: block;
	clear: both;
}

.mobile{
	display: none;
}


/* INNER STAGE */

section.stage iframe,
section.stage audio,
section.stage video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50%;
	max-width: 100%;
	height: 90%;
	margin: auto;
}
section.stage iframe{
	background:white;
}
section.stage .video-container{


}
section.stage .video-container iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
section.stage div.text{
	background: white;
	width: 90%;
	margin: 5% auto;
	font-family: 'garamond';
	font-size: 2.5vw;
	line-height: 3vw;
	text-align: left;
	padding: 15px;
}

section.stage.a-viewer img {
	height: calc(100% - 35px);
	margin: 10px auto;
}

section.stage.a-reader img {
	height: calc(100% - 35px);
	margin: 10px auto;

}

/* A VIEWER: TEST PAGE */
#viewer{
	font-size:12pt;
	height:100%;
}
#viewer section.intro{
	display:block;
}
#viewer section.listing{
	display:none;
}

#viewer main{
	height:calc(100% - 3rem);
	padding-top:1rem;
}
#viewer section.stage{
	display:none;
	height:100%;
	width:calc(100% - 2rem);
	margin:0 auto;
	position:relative;
}
#viewer footer{
	position:fixed;
	bottom:0;
	height:2rem;
	line-height:2rem;
	text-align:center;
	display:none;
}
#viewer footer span.title:after{
	content:'—';
}
/* MOBILE RULES */

@media (max-width:480px){
	html{
		font-size:6pt;
	}
	section.stage iframe,
	section.stage audio,
	section.stage video{
		width:100%;

	}
	section.stage.a-viewer img{
		width:100%;
		height:auto;
	}
	section.stage.a-reader img{
		width:100%;
		height:auto;
	}
	#viewer main{
		height:calc(100% - 6rem);
	}
	#viewer footer{
		height:3rem;
		font-size:14pt;
		line-height:3rem;
	}
}
